:root {  
  --white: #FFFFFF;
  --black: #000000;

  --logo-second-color: #838383;
  
  --active: #5932EA;

  --s-text-svg: #9197B3;
  --s-manager-text-color: #757575;

  --i-color: #E7E7E7;
  --i-svg: #7E7E7E;

  --p-green: #008767;
  --p-green-light: #16C098;
  --p-green-light-38:  rgba(22, 192, 152, 0.38);
  --p-green-border: #00B087;
  --p-red: #DF0404;
  --p-red-ligth: #FFC5C5;
  --p-first-text-color: #292D32;
  --p-second-text-color: #B5B7C0;

  --pf-button: #F5F5F5;
  --pf-button-border: #EEEEEE;
  --pf-button-text: #404B52;

  
/* s - sidebar
   i - input
   p - product
   pf - product footer */
}


body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;

}


.dashboard-container {
  display: grid;
  grid-template-columns: 306px 1fr; 
  min-height: 100vh;
  height: 100%;
}


.sidebar {
  background-color: var(--white);
  color: var(--s-text-svg);
  padding: 36px 28px 0 28px;
  box-shadow: 0 10px 60px #E2ECF980; 
  position: relative; 
  height: 100%;
}

.sidebar__toggle {
  display: none; 
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.sidebar__toggle-bar {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 3px 0;
  transition: all 0.3s ease;
} 

.sidebar__logo {
  color: var(--black);
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-bottom: 54px;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.sidebar__logo-accent {
  font-size: 10px;
  color: var(--logo-second-color);
  font-weight: 500;
  padding-left: 4px;
  vertical-align: baseline;
  position: relative;
  top: 6px; 
  letter-spacing: -0.01em;
}

.sidebar__logo-svg {
  fill:var(--black);
  padding-right: 8px;
}

.sidebar__menu {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.sidebar__menu-item {
  padding: 11px 8px 11px 11px;
  margin-bottom: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative; 
  border-radius: 8px;
  transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar__menu-item:hover {
 background-color: var(--active);
 color: var(--white);
}

.sidebar__menu-item-svg {
  color: var(--s-text-svg);
  padding-right: 14px;
}

.sidebar__menu-item-svg:hover {
  fill: var(--white);
}

.sidebar__menu-item-svg-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
}

.sidebar__menu-item-svg-right:hover {
  fill:var(--white);
}

.sidebar__bottom {
  position: absolute;
  display: flex;
  align-items: center; 
  width: 100%; 
  bottom: 76px;
  margin-top: auto;
}

.sidebar__bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}

.sidebar__bottom-name {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
}

.sidebar__bottom-role {
  color: var(--s-manager-text-color);
  font-size: 12px;
}



.main-content {
    padding: 41px 71px 0 71px;
    background-color: #f9f9f9;
    height: 100%;
}

.main-content__title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 51px;
  margin: 0;
}

.customers{
  background-color: var(--white);
  border-radius: 30px;
  padding: 30px 40px 42px 38px ;
}

.customers__header {
  padding-bottom: 40px;
  position: relative; 
}

.customers__header-title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 7px;
}

.customers__header-link {
  font-size: 14px;
  color: #16C098;
  letter-spacing: -0.01em;
}
.customers__header-input-wrapper {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.customers__header-input-svg {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--i-svg);
}

.customers__header-input {
  padding-left: 40px;
  padding-right: 10px;
  height: 36px;
  background-color: #f9f9f9;
  border: none;
  color: var(--p-first-text-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.customers__header-input::placeholder{
  color: var(--p-second-text-color);
  font-size: 12px;
  letter-spacing: -0.01em;
}

.customers__header-input:focus {
  border: 1px solid var(--i-svg);
  outline: none;
}

.customers__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: left;
}

.customers__table th,
.customers__table td {
  border-bottom: 1px solid var(--pf-button-border); 
  font-weight: 500;
  padding: 20px 20px 20px 0;
}

.customers__table td:last-child {
  text-align: right;
  padding: 0;
}

.customers__table th {
  color: var(--p-second-text-color);
}

.status {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 4px;
  font-weight: 500;
}

.status--active {
  background-color: var(--p-green-light-38);
  color: var(--p-green);
  border: 1px solid var(--p-green-border);
}

.status--inactive {
  background-color: var(--p-red-ligth);
  color: var(--p-red);
  border: 1px solid var(--p-red);
}

.customers__pagination {
  display: flex;
  justify-content: space-between;
  color: var(--p-second-text-color);
  letter-spacing: -0.01em;
  font-weight: 500;
  padding-top: 42px;
}

.pagination {
  display: flex;
  gap: 12px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pf-button-text);
  width: 25px;
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--pf-button);
  border: 1px solid var(--pf-button-border);
  border-radius: 4px;
  transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pagination__link-middle {
  color: var(--black);
  font-size: 12px;
}

.pagination__link:hover {
  background-color: var(--active);
  color: var(--white);
}



@media screen and (max-width: 768px) {


  .dashboard-container {

    height: 100%;
  }

  .sidebar {
    display: none; /* Сховати бокову панель за замовчуванням */
    flex-direction: column;
    position: relative;
  }

  .sidebar.open {
    display: flex; /* Показати панель при відкритті */
  }

  .sidebar__toggle {
    display: flex; /* Показати кнопку для мобільних пристроїв */
  }

  .sidebar__toggle.open .sidebar__toggle-bar:nth-child(1) {
    transform: rotate(45deg);
    top: 6px;
  }
  .sidebar__toggle.open .sidebar__toggle-bar:nth-child(2) {
    opacity: 0;
  }
  .sidebar__toggle.open .sidebar__toggle-bar:nth-child(3) {
    transform: rotate(-45deg);
    top: -6px;
  }
  
  .sidebar__logo {
    color: var(--black);
    font-size: 26px;
    display: flex;
    align-items: center;
    margin-bottom: 54px;
    font-weight: 600;
    letter-spacing: 0.01em;
  }
  
  .sidebar__logo-accent {
    font-size: 10px;
    color: var(--logo-second-color);
    font-weight: 500;
    padding-left: 4px;
    vertical-align: baseline;
    position: relative;
    top: 6px; 
    letter-spacing: -0.01em;
  }
  
  .sidebar__logo-svg {
    fill:var(--black);
    padding-right: 8px;
  }
  
  .sidebar__menu {
    list-style: none;
    padding: 0;
    overflow-y: auto;
  }
  
  .sidebar__menu-item {
    padding: 11px 8px 11px 11px;
    margin-bottom: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative; 
    border-radius: 8px;
    transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .sidebar__menu-item:hover {
   background-color: var(--active);
   color: var(--white);
  }
  
  .sidebar__menu-item-svg {
    color: var(--s-text-svg);
    padding-right: 14px;
  }
  
  .sidebar__menu-item-svg:hover {
    fill: var(--white);
  }
  
  .sidebar__menu-item-svg-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
  }
  
  .sidebar__menu-item-svg-right:hover {
    fill:var(--white);
  }
  
  .sidebar__bottom {
    position: absolute;
    display: flex;
    align-items: center; 
    width: 100%; 
    bottom: 76px;
    margin-top: auto;
  }
  
  .sidebar__bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
  }
  
  .sidebar__bottom-name {
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
  }
  
  .sidebar__bottom-role {
    color: var(--s-manager-text-color);
    font-size: 12px;
  }
  
  
  
  .main-content {
      padding: 20зч;
      background-color: #f9f9f9;
      height: 100%;
  }
  
  .main-content__title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
    margin: 0;
  }
  
  .customers{
    background-color: var(--white);
    border-radius: 30px;
    padding: 30px 40px 42px 38px ;
  }
  
  .customers__header {
    padding-bottom: 40px;
    position: relative; 
  }
  
  .customers__header-title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 7px;
  }
  
  .customers__header-link {
    font-size: 14px;
    color: #16C098;
    letter-spacing: -0.01em;
  }
  .customers__header-input-wrapper {
    position: absolute;
    bottom: 60px;
    right: 20px;
  }
  
  .customers__header-input-svg {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: var(--i-svg);
  }
  
  .customers__header-input {
    padding-left: 40px;
    padding-right: 10px;
    height: 36px;
    background-color: #f9f9f9;
    border: none;
    color: var(--p-first-text-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .customers__header-input::placeholder{
    color: var(--p-second-text-color);
    font-size: 12px;
    letter-spacing: -0.01em;
  }
  
  .customers__header-input:focus {
    border: 1px solid var(--i-svg);
    outline: none;
  }
  
  .customers__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.01em;
    text-align: left;
  }
  
  .customers__table th,
  .customers__table td {
    border-bottom: 1px solid var(--pf-button-border); 
    font-weight: 500;
    padding: 20px 20px 20px 0;
  }
  
  .customers__table td:last-child {
    text-align: right;
    padding: 0;
  }
  
  .customers__table th {
    color: var(--p-second-text-color);
  }
  
  .status {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 80px;
    height: 29px;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .status--active {
    background-color: var(--p-green-light-38);
    color: var(--p-green);
    border: 1px solid var(--p-green-border);
  }
  
  .status--inactive {
    background-color: var(--p-red-ligth);
    color: var(--p-red);
    border: 1px solid var(--p-red);
  }
  
  .customers__pagination {
    display: flex;
    justify-content: space-between;
    color: var(--p-second-text-color);
    letter-spacing: -0.01em;
    font-weight: 500;
    padding-top: 42px;
  }
  
  .pagination {
    display: flex;
    gap: 12px;
  }
  
  .pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pf-button-text);
    width: 25px;
    height: 24px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--pf-button);
    border: 1px solid var(--pf-button-border);
    border-radius: 4px;
    transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .pagination__link-middle {
    color: var(--black);
    font-size: 12px;
  }
  
  .pagination__link:hover {
    background-color: var(--active);
    color: var(--white);
  }
  
  
}